@{
    ViewBag.Title = "PDF signature using iTextSharp";
}

<h2>PDF signature using iTextSharp</h2>

<p>This sample shows how to digitally sign a PDF using the Web PKI component on the frontend together with the iTextSharp library on the backend.</p>

<h3>Notes on usage of iTextSharp (PLEASE READ THIS)</h3>

<p>
	This sample is provided "as is". <b>WE DO NOT PROVIDE FREE SUPPORT ON THE USAGE OF ITEXTSHARP</b>. Please do not contact
	us regarding problems on the usage of iTextSharp, except for problems strictly regarding integration with Web PKI.
</p>

<p>
	The iTextSharp library is a general purpose PDF library. Its usage for cryptographic operations on PDFs such as
	signing and timestamping is far from ideal. Implementing remote signatures (i.e. signing with a frontend component
	such as Web PKI) is particularly troublesome. To deal with this, this sample uses the Session object to store an
	iTextSharp object instance between requests. Please notice that this has very serious implications if you intend
	to develop a web application that can be executed simulteneously on multiple servers.
</p>

<p>
	The iTextSharp library is not free. You must either purchase it or use it under the AGPLv3 license, in which case
	your web application must also be licensed under it, which means your web application must be open source (among
	other implications).
</p>

<h3>Recommended alternatives to iTextSharp</h3>

<p>In order to perform PDF signatures with Web PKI, we HIGHLY RECOMMEND using one of Lacuna Software's backend solutions:</p>

<ul>
	<li>
		<a href="https://pki.rest/" target="_blank">Rest PKI</a>, a cloud-based service to perform digital signatures in virtually any programming language.
		Usage through native libraries for Java, PHP, .NET, Python, NodeJS and Ruby. Can also be hosted "on premises".
		<ul>
			<li>Please notice that when using Web PKI together with the Rest PKI cloud service, it is not necessary to purchase a license for Web PKI, the cost for using it is embedded in the service transaction price.</li>
		</ul>
	</li>
	<li>
		<a href="https://www.lacunasoftware.com/en/products/pki_sdk" target="_blank">PKI SDK</a>, a .NET library specific for digital signatures
	</li>
</ul>

<p>
	<br/>
	@Html.ActionLink("Start", "Start", null, new { id = "tryAgainButton", @class = "btn btn-primary" })
</p>