@model SampleSite.Models.SignatureInfoModel

@{
    ViewBag.Title = "PDF signature using iIText";
}

<h2>PDF signature using iText</h2>

<p>File signed successfully! <a href="/Download/File/@Model.File">Click here to download the signed file</a></p>
