<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="head"></head>
<body>

<div th:replace="menu"></div>

<div class="container">

    <h2>Double XML Element Signature</h2>

    <form>

        <div class="form-group">
            <label>File to sign</label>
            <p>You are signing the elements <i>InfRps</i> and <i>LoteRps</i> of <a href='/LoteRps.xml'>this sample XML</a>.</p>
        </div>

        <!--/* Render a select (combo box) to list the user's certificates. For now it will be empty, we'll populate it later on (see javascript below). */-->
        <div class="form-group">
            <label for="certificateSelect">Choose a certificate</label>
            <select id="certificateSelect" class="form-control"></select>
        </div>

        <!--/*
            Action buttons. Notice that the "Sign File" button is NOT a submit button. When the user clicks the button,
            we must first use the Web PKI component to perform the client-side computation necessary (see javascript below).
        */-->
        <button id="signButton" type="button" class="btn btn-primary">Sign File</button>
        <button id="refreshButton" type="button" class="btn btn-default">Refresh Certificates</button>

    </form>

    <!--/*
        Include the Javascript module batchSignatureForm, which contains the logic to use the Web PKI component.
    */-->
    <script src="/js/batch-signature-form.js"></script>

    <!--/*
        Once the page is loaded, we initialize the "javascript module" batchSignatureForm passing references to our HTML
        elements. The module will make the appropriate button wire-ups and perform the necessary AJAX calls to the
        backend as well as computations using Web PKI. When the process is complete, the backend will instruct the
        Javascript to redirect the user to another page.
     */-->
    <script>
        $(document).ready(function () {
            batchSignatureForm.init({
                formElements: {
                    certificateSelect: $('#certificateSelect'),
                    signButton: $('#signButton'),
                    refreshButton: $('#refreshButton')
                },
                startAction: '/double-xml-element-signature/start',
                signatureCount: 2
            });
        });
    </script>

</div>
</body>
</html>
